.mat-card-actions-align-end {
  flex-wrap: wrap;
  margin: -8px;
}

.mat-card-actions-align-end .mat-button-base {
  margin: 8px 0px 0px 8px;
}

.game-console-container {
  display: inline-block;
}